

<h2>Ulogovani ste kao kupac.</h2>

<p>Mozete izabrati neku od sledecih mogucnosti</p><br />
<p>Kupac Menu:</p><br />
<a href="~/Soping/PrikazKupovina">Prikaz mojih kupovina</a> <br />
<a href="~/Soping/PrikazVozilaProdaja">Prikaz vozila koja se mogu kupiti</a> <br />
