
<h2>Ulogovani ste kao admin.</h2>

<p>Mozete izabrati neku od sledecih mogucnosti:</p><br />
<a href="~/Home/PrikazKorisnika">Prikaz svih kupaca u sistemu i logicko brisanje</a> <br />
<a href="~/Home/PrikazVozila">Prikaz vozila</a> <br />
<a href="~/Home/DodavanjeNovogVozila">Dodavanje novog vozila</a> <br />
<a href="~/Home/Modifikovanje">Modifikovanje nekog od dostupnih vozila</a> <br />
